header {
    padding: 10px 20px;
    background-color:rgb(38, 82, 82);
    text-align: center;
}

main {
    background-color: rgb(141, 209, 209);
    border-radius: 10px
}

.segredo {
    border-left: 20px;

}

img {
    border-radius: 10px

}
